{{#if @root.argv.index}}<a name="{{{anchorName longname}}}"></a>
{{/if~}}

{{#if name}}###{{#if parentName}}{{parentName}}.{{/if}}{{{name}}}{{#if type}} :{{join type.names ", "}}{{/if}}
{{/if~}}

{{#if access}}*{{{access}}}*  
{{/if~}}

{{>description~}}

{{>examples~}}